include /_mixins

doctype html
html
  head
    title TrelloCloned
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet")
    +stylesheet_link_tag('application')
    +javascript_include_tag('vendor/all')
    link(href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet")
    +javascript_include_tag('handlebars_templates')
  body
    header
      #search-form
        input(type="text")
        span.search
          i.fa.fa-search
        span.close
          i.fa.fa-times
      .logo
      span.icon-notification
        i.ignore.fa.fa-bell-o
    #menu.modal
    
    #content

    block content
      
    +javascript_include_tag('application')
    +javascript_include_tag('helpers/view_helper')
    +javascript_include_tag('models/list', 'models/card', 'models/comment')
    +javascript_include_tag('collections/lists', 'collections/cards', 'collections/comments')
    +javascript_include_tag('views/header_view','views/header_search', 'views/menu', 'views/notification')
    +javascript_include_tag('views/index','views/new_list', 'views/list_view', 'views/list_actions')
    +javascript_include_tag('views/card', 'views/card_duedate', 'views/tag_selection', 'views/card_editcomment')
    script(type="text/javascript").
      App.lists = new Lists(!{JSON.stringify(lists)});
      App.comments = new Comments(!{JSON.stringify(comments)});
      App.cards = new Cards(!{JSON.stringify(cards)});
    +javascript_include_tag('router')
    block scripts