<div id="board-top">
  <span class="board-header-btn-text">Welcome Board</span>
  <div class="menu"><span class="icon-ellipsis"><i class="fa fa-ellipsis-h"></i></span>
    <u>Show Menu</u>
  </div>
</div>

<div class="container">
  <ul id="lists"></ul>
  <div class="list-add"></div>
</div>