<div class="pop-over-header">
  <span class="pop-over-header-title">Copy List</span>
  <a href="#" class="pop-over-header-button-close"><i class="fa fa-times"></i></a>
</div>
<form>
  <dl>
    <dt>
      <label>
        <h2>Name</h2>
      </label>
    </dt>
    <dd>
      <textarea>{{name}}</textarea>
    </dd>
  </dl>
  <input type="submit" value="Create List">
</form>