<div class="pop-over-header">
  <span class="pop-over-header-title">List Actions</span>
  <a href="#" class="pop-over-header-button-close"><i class="fa fa-times"></i></a>
</div>
<ul class="pop-over-list">
  <li>
    <a class="js copy-list" href="#">Copy List…</a>
  </li>
  <li>
    <a class="js move-list" href="#">Move List…</a>
  </li>
  <li>
    <a class="js list-subscribe" href="#">Subscribe 
    {{#if subscribed}}
      <span><i class="fa fa-check"></i></span>
    {{/if}}
    </a>
  </li>
</ul>
<hr>
<ul class="pop-over-list">
  <li><a class="js move-cards" href="#">Move All Cards in This List…</a></li>
  <li><a class="js archive-cards" href="#">Archive All Cards in This List…</a></li>
</ul>
<hr>
<ul class="pop-over-list">
  <li><a class="js delete-list" href="#">Archive This List</a>
  </li>
</ul>