<form action="/lists" method="post">
  <label>
    <input type="text" placeholder="Add a list..." name="list_name" autocomplete="off"/>
  </label>
  <div class="form-controls">
    <input type="submit" value="Save"/>
    <a class="close" href="#"><i class="fa fa-times fa-2x"></i></a>
  </div>
</form>