<div class="modal-layer"></div>
<div class="modal-header">
  <span class="action-title">Labels</span>
  <span class="close"><i class="fa fa-times"></i></span>
</div>
<form>
  <ul>
    <li><span class="card_label label_green" data-color="#61BD4F">
    <li><span class="card_label label_yellow" data-color="#F2D600">
    <li><span class="card_label label_orange" data-color="#FFAB4A">
    <li><span class="card_label label_red" data-color="#EB5A46">
    <li><span class="card_label label_purple" data-color="#C377E0">
    <li><span class="card_label label_blue" data-color="#0079BF">
  </ul>
</form>