#content
  .modal
    position: absolute
    display: inline-block
    width: 280px
    z-index: 8
    color: #4d4d4d
    form-controls()
    // have to set the z-index lower than the jquery ui date form
    .modal-layer
      z-index: -1
  .card-due-date
    form
      fieldset
        margin: 0 0 10px 0
        label
          box-sizing: border-box
          display: inline-block
          padding: 0 0 0 5px
          width: 50%
          &:last-child
            input
              width: 85%
          input
            width: 80%
            modal-input()
            &[type="time"]
              font-family: Helvetica
      .datepicker
        margin: 0 0 15px 0
        .ui-datepicker-inline
          margin: 0 auto
        .ui-corner-all
          color: inherit
        .ui-state-active
          background: #0079BF
          border: 1px #0079BF
        .ui-state-highlight
          border: 1px solid #D6DADC
          background: #D6DADC
          color: inherit
          font-weight: bold
      .form-controls
        input[type="submit"].remove
          float: right
          box-shadow: 0 1px 0 #4d4d4d
          background: linear-gradient(to bottom,#D6DADC 0,#CDD2D4 100%) 
          color: #fff
          &:hover
            color: white
            background: linear-gradient(to bottom,#CF513D 0,#B04632 100%)
  
.tags
  .card_label
    width: 240px
    height: 34px
    display: block
    cursor: pointer
    transition: padding 85ms,margin 85ms,box-shadow 85ms
    border-radius: 3px
    margin-left: 4px
    margin-top: 4px
  .label_green
    background: #61BD4F
    &:hover
      box-shadow: -8px 0 #519839
  .label_yellow
    background: #F2D600
    &:hover
      box-shadow: -8px 0 #D9B51C
  .label_orange
    background-color: #FFAB4A
    &:hover
      box-shadow: -8px 0 #D29034
  .label_red
    background-color: #EB5A46
    &:hover
      box-shadow: -8px 0 #B04632
  .label_purple
    background-color: #C377E0
    &:hover
      box-shadow: -8px 0 #89609E
  .label_blue
    background-color: #0079BF
    &:hover
      box-shadow: -8px 0 #055A8C

.comment
  display: block
  h3
    display: block
    text-align: left
  p
    display: inline-block
    padding: 10px
    margin: 5px 0 5px 0
    background: white
    border-radius: 3px
  footer
    a
      color: colors.darker-grey
      text-decoration: underline
      cursor: pointer
  
.move-card
  padding: 12px
  label-select()
  input[type="submit"]
    submit-btn()

.copy-card
  padding: 12px
  dl
    margin: 0 0 15px 0
    dt
      margin: 0 0 5px 0
    textarea
      width: 95%
      min-height: 60px
      padding: 5px
      border: 1px solid colors.light-grey
      &:focus
        border: 1px solid blue
  label-select()
  .card-name, .keep-section
    margin-bottom: 5px
    background: none
    border: none
    cursor: auto
    &:hover
      background: none
      border: none
  .keep-section
    label
      font-weight: normal
    [type="checkbox"]
      -webkit-appearance: checkbox
      margin: 0 5px 0 0
      vertical-align: middle
  input[type="submit"]
    submit-btn()

.card-edit
  .modal
    position: fixed
    display: inline-block
    width: 560px
    z-index: 8
    background: white
    color: #4d4d4d
    form-controls()    

#content
  #quick-card-edit
    width: 560px
    position: fixed
    display: block
    padding: 0
    background: none
    border none
    .window-overlay
      z-index: -1
    .card-container
      display: inline-block
      vertical-align: top
      .card-quickview
        border-radius: 3px
        background: white
        width: 220px
        z-index: 3
        margin: 0 10px 10px 0
        labels
          overflow: hidden
          margin: 0 0 5px 0
          font-size: 10px
        .label
          float: left
          height: 8px
          width: 35px
          margin: 2px
          border-radius: 3px
      textarea
        color: #4d4d4d
        width: 92%
        padding: 6px 6px 2px 8px
        min-height: 90px
        &:focus
          outline: none
      input[type="submit"]
        submit-btn()
    .cardquick-side
      display: inline-block
      z-index: 3
      .action
        display: inline-block
        color: white
        margin: 0 0 4px 8px
        padding: 6px 9pt 6px 8px
        border-radius: 3px
        background: rgba(0, 0, 0, .6)
        transition: margin-left 0.1s
        &:hover
          margin-left: 10px
          background: rgba(0, 0, 0, .85)
          cursor: pointer
        span
          vertical-align: middle
          margin: 0 5px 0 0