colors = {
  text: rgba(255,255,255,.7),
  main: #0079bf,
  highlight: #ffff9d,
  border: #888888,
  delete: #b00b00,
  light-black: #4D4D4D,
  light-grey: #D6DADC,
  darker-grey: #8c8c8c,
  background-blue: #298FCA
}

input
  -webkit-appearance:none
  height: 16px
  padding: 7px
  outline: none
  border: none
  border-radius: 3px

a
  text-decoration: none

p
  word-wrap: break-word
  overflow: hidden
  white-space: normal

modal-input()
  padding: 5px
  margin: 5px 0 0 0
  border: 1px solid #CDD2D4
  background: #E2E4E6
  font-size: 12px
  &:focus
    border-color: #298FCA
    box-shadow: 0 0 2px #298FCA
    background: white

textarea
  border: none
  border-radius: 3px
  resize: none
  font: inherit
  color: inherit
  &.title
    box-sizing: border-box
    padding: 3px 5px
    font-weight: bold
    transition: background 0.25s
    color: #4D4D4D
    cursor: pointer
    &:focus
      background: white
      outline: none
  &.formated
    background: inherit
    
.tilted
  transform: rotate(5deg)
  
footer
  display: block
  margin: 0 0
  color: colors.darker-grey
  font-size: 12px
    
submit-btn()
  padding: 0 20px
  min-height: 30px
  box-shadow: 0 1px 0 #3F6F21
  background: linear-gradient(to bottom, #61BD4F 0, #5AAC44 100%)
  color: white
  font-size: 14px
  font-weight: bold
  cursor: pointer
  &:hover
    background: linear-gradient(to top, #61BD4F 0, #5AAC44 100%)

form-controls()
  .form-controls
    display: block
    height: 35px
    overflow: hidden
    transition: height 0.25s
    input[type="submit"]
      submit-btn()
    .close
      display: inline-block
      float: none
      margin: 0 0 0 5px
      &:hover
        background: inherit
      i
        vertical-align: middle

activity-list()
  color: #4d4d4d
  font-size: 14px
  li
    padding: 10px 0

label-select()
  dl
    position: relative
    margin: 0 0 15px 0
    top: 0
    left: 0
    bottom: 0
    right: 0
    padding: 5px
    border: 1px solid colors.light-grey
    border-bottom: 1px solid colors.light-grey
    border-radius: 3px
    background: white
    font-weight: bold
    cursor: pointer
    h5
      margin: 0 0 7px 0
      color: colors.darker-grey
      font-size: 12px
    p
      color: colors.light-black
      font-size: 18px
    &:hover
      border: 1px solid blue
      background: blue
      h5
        color: colors.light-grey
      p
        color: white
  select
    position: absolute
    height: 100%
    top: 0
    left: 0
    width: 100%
    opacity: 0
